body {
  background:$body-bg;
  font-family:$font-family-sans-serif;
}
div.clear, br.clear {
  clear:both;
}
.form-control:focus {
  border-color:#8C1D40 !important;
  box-shadow:0 0 0 0.2rem rgba(140, 29, 64, 0.50) !important;
}
//Buttons
.btn-main {
  background:$btn-main-color;
  color:$brand-primary-color;
  outline:none;

  &:hover {
    background:$btn-main-color-hover;
    color:$brand-primary-color;
  }
}

.btn-second {
  background:$btn-secondary-color;
  color:$brand-primary-color;
  outline:none;

  &:hover {
    background:$btn-secondary-color-hover;
    color:$brand-primary-color;
  }
}

.btn-submission {
  background:$btn-submission-color;
  color:$brand-primary-color;
  outline:none;

  &:hover {
    background:$btn-submission-color-hover;
    color:$brand-primary-color;
  }
}


sidebar {
  width:15%;
  height:100%;
  position:fixed;
  background:$sidebar-bg;
  box-shadow:0 0 40px rgba(0,0,0,.1);

  div.logo {
    margin:15px auto;
    width:80%;
    padding:5px 0;
    text-align:center;
    font-size:30px;
    color:$nav-link-color;
    font-weight:bold;
  }
  a.action {
    width:auto;
    margin:0 auto;
    display:block;
    background:$brand-primary;
    color:$brand-primary-color !important;
    border:none;
    width:60%;

    &:hover, &:active  {
      background:$brand-primary-hover !important;
    }
    &:focus, &:active:focus {
      box-shadow:none;
    }
  }

  nav {
    margin-top:25px;

    a {
      display:block;
      width:100%;
      text-align:center;
      color:$nav-link-color;
      text-decoration:none;
      transition:.5s all;
      height: 38px;
      line-height:38px;
      margin-bottom:15px;
      font-size:16px;

        &:hover {
          color:$brand-primary;
          text-decoration:none;
        }
      &.active {
        color:$brand-primary;
        font-weight:bold;

        &:before {
          width:7px;
          background: $brand-primary;
          height: 38px;
          content: "";
          display: block;
          position: absolute;
          left:0;
          border-radius: 0 20px 20px 0;
        }
      }
    }
  }
}
#wholeContent {
  width:100%;
  max-width:1170px;
  margin:0 auto;
}
#content {
  width:85%;
  float:right;

  .mainContent {
    width:90%;
    margin:0 auto;
  }

  div.topbar{
    margin:15px 0;
    margin-left:3%;

    .search {
      float:left;
      width:80%;
      height:50px;

      i {
        line-height:50px;
        font-size:19px;
      }
      input#search {
        height:50px;
        border:none;
        display:inline-block;
        width:90%;
        background:none;
        outline:none;
        margin-left:5px;
      }
    }

    .profile {
      width:20%;
      float:right;
      height:50px;

      .profileImage {
        width:50px;
        height:50px;
        margin-right:75px;
        background:#ccc;
        border-radius:50%;
        cursor:pointer;
        float:right;
        text-align:center;
        line-height:50px;
        font-size: 20px;
      }
      .profileMenu {
        font-size:15px;
        float:right;
        padding:8px;
        background:#fff;
        margin-top:5px;
        margin-right:75px;
        box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
        display:none;

        span.name {
          padding-bottom:5px;
          margin-bottom:5px;
          border-bottom:1px solid rgba(0,0,0,.2);
          display:block;
        }
        a {
          display:block;
          color:#000;
        }
      }
    }
  }
}

table.table {
  thead {
      background: $brand-primary;
      color: $brand-primary-color;
      text-shadow:0 0 10px rgba(0,0,0,.35);
      tr th {
        border:none;
      }
  }
  tbody {
    tr {
      background:$table-odd;
    }
    tr:nth-child(even) {
      background:$table-even;
    }
  }
}

div.adminAutocomplete, div.usersAutocomplete{
  margin-top:12px;
  background:$offWhite;
  border:1px solid rgba(0,0,0,.1);
  float:left;

  ul {
    list-style:none;
    margin:0;
    padding:0;

    li {
      padding:10px;
      border-bottom:1px solid rgba(0,0,0,.1);
      cursor:pointer;
      transition:.5s all;
      &:hover {
        background: linear-gradient(to top, $brand-primary, $brand-primary-hover);
        color:#fff;
      }
    }
    li:last-child {
      border:none;
    }
  }
}
div.addedAdmins, div.addedUsers{
  clear:both;

  .theAdmin, .theUser {
    float:left;
    padding:10px;
    font-weight:bold;
    margin:15px 15px;
    background:$sidebar-bg;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
  }
}


.loader, .loaderSecond {
  border: 7px solid #000;
  border-top: 7px solid $brand-gold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top:20px;
  display:none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form-control.left {
  width:auto;
}