//Loader / Masking Functions
div#loader {
  background:rgba(0,0,0,.8);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:99999;

  .loader {
    border: 22px solid #fff;
    border-top: 22px solid $brand-primary;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
    position:relative;
    margin:0 auto;
    top:calc(50% - 75px);
    display:block;
  }
}


.loader, .loaderSecond {
  border: 7px solid #000;
  border-top: 7px solid $brand-gold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top:20px;
  display:none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


div.container-big {
  width:85%;
  max-width:2000px;
  margin:0 auto;
}

div.clear, br.clear {
  clear:both;
}
.form-control:focus {
  border-color:#8C1D40 !important;
  box-shadow:0 0 0 0.2rem rgba(140, 29, 64, 0.50) !important;
}
span.approved {
  padding:3px;
  text-transform: uppercase;
  background:$brand-gold;
  font-weight: 900;
  font-size: 28px;
}

span.name_bg{
  background:#FFC627;
  color:#000;
  padding:5px;
  font-weight:900;
}


sidebar {
  width:15%;
  height:100%;
  position:fixed;
  background:$sidebar-bg;
  box-shadow:0 0 40px rgba(0,0,0,.1);

  div.logo {
    margin:15px auto;
    width:80%;
    padding:5px 0;
    text-align:center;
    font-size:30px;
    color:$nav-link-color;
    font-weight:bold;
  }
  a.action {
    margin:0 auto;
    display:block;
    background:$brand-primary;
    color:$brand-primary-color !important;
    border:none;
    width:60%;

    &:hover, &:active  {
      background:$brand-primary-hover !important;
    }
    &:focus, &:active:focus {
      box-shadow:none;
    }
  }

  nav {
    margin-top:25px;

    a {
      display:block;
      width:100%;
      text-align:center;
      color:$nav-link-color;
      text-decoration:none;
      transition:.5s all;
      height: 38px;
      line-height:38px;
      margin-bottom:15px;
      font-size:16px;

        &:hover {
          color:$brand-primary;
          text-decoration:none;
        }
      &.active {
        color:$brand-primary;
        font-weight:bold;

        &:before {
          width:7px;
          background: $brand-primary;
          height: 38px;
          content: "";
          display: block;
          position: absolute;
          left:0;
          border-radius: 0 20px 20px 0;
        }
      }
    }
  }
}
#wholeContent {
  width:100%;
  max-width:1170px;
  margin:0 auto;
}
#content {
  width:85%;
  float:right;

  .mainContent {
    width:90%;
    margin:0 auto;
  }

  div.topbar {
    margin:15px 0;
    margin-left:3%;

    .search {
      float:left;
      width:80%;
      height:50px;
      position:relative;

      i {
        line-height:50px;
        font-size:19px;
      }
      input#search {
        height:50px;
        border:none;
        display:inline-block;
        width:90%;
        background:none;
        outline:none;
        margin-left:5px;
      }

      div.searchResults {
        background:#fff;
        position:absolute;
        width:100%;
        box-shadow:0 0 10px rgba(0,0,0,.5);
        z-index:99999;

        a {
          color:#000;
          text-decoration:none;
          display: block;
          transition:.3s all;

          .result {
            padding:15px;
            height:150px;
            border-bottom:1px solid rgba(0,0,0,.2);

            div.image {
              height:120px;
              float:left;
              box-shadow:0 0 2px rgba(0,0,0,.5);
              margin-right:15px;

              img {
                height:100%;
              }
            }
            p.title {
              margin:0;
              padding:0;
              font-size:16px;
              font-weight:normal;
            }
            span.status {
              background:$brand-gold;
              color: #000;
              padding: 2px;
              border-radius: 0;
              font-weight: bold;
              display:inline-block;
              margin-bottom: 0;
            }
          }
          &:hover {
            background:$brand-primary;
            color:$brand-primary-color;
          }
        }

      }

    }

    .profile {
      width:20%;
      float:right;
      height:50px;

      .profileImage {
        width:50px;
        height:50px;
        margin-right:75px;
        background:#ccc;
        border-radius:50%;
        cursor:pointer;
        float:right;
        text-align:center;
        line-height:50px;
        font-size: 20px;
        &.pic {
          background-size:cover !important;
          box-shadow: inset 0 0 7px rgba(0,0,0,.5);
        }
      }
      .profileMenu {
        font-size:15px;
        float:right;
        padding:8px;
        background:#fff;
        margin-top:5px;
        margin-right:75px;
        box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
        display:none;
        position: relative;
        z-index: 99;

        span.name {
          padding-bottom:5px;
          margin-bottom:5px;
          border-bottom:1px solid rgba(0,0,0,.2);
          display:block;
        }
        a {
          display:block;
          color:#000;
          margin:5px 0;
          font-size:16px;
        }
      }
    }
  }
}

table.table {
  thead {
      background: $brand-primary;
      color: $brand-primary-color;
      text-shadow:0 0 10px rgba(0,0,0,.35);
      tr th {
        border:none;
      }
  }
  tbody {
    tr {
      background:$table-odd;
    }
    tr:nth-child(even) {
      background:$table-even;
    }

    tr.belongs {
      background:#FFC627;
    }
    td {
      vertical-align: middle;
    }
  }
}

div.adminAutocomplete, div.usersAutocomplete{
  margin-top:12px;
  background:$offWhite;
  border:1px solid rgba(0,0,0,.1);
  float:left;

  ul {
    list-style:none;
    margin:0;
    padding:0;

    li {
      padding:10px;
      border-bottom:1px solid rgba(0,0,0,.1);
      cursor:pointer;
      transition:.5s all;
      &:hover {
        background: linear-gradient(to top, $brand-primary, $brand-primary-hover);
        color:$brand-primary-color;
      }
    }
    li:last-child {
      border:none;
    }
  }
}
.theProject {
  float:left;
  padding:10px;
  font-weight:bold;
  margin:15px 15px;
  background:$sidebar-bg;
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
}
div.addedAdmins, div.addedUsers{
  clear:both;

  .theAdmin, .theUser {
    float:left;
    padding:10px;
    font-weight:bold;
    margin:15px 15px;
    background:$sidebar-bg;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
  }
}

.form-control.left {
  width:auto;
}

//Admin Profile
div#profile {
  div.profileImage {
    width:25%;
    padding:15px;
    float:left;

    @media screen and (max-width: $break-small) {
      float:none;
      width:80%;
      margin:0 auto;
    }

    .picture {
      width:65%;
      background: #e4e4e4;
      min-height:100px;
      margin:0 auto;
      border-radius:50%;
      line-height:100%;
      text-align:center;
      font-size:50px;
      position:relative;

      &.pic {
        background-size:cover !important;
        box-shadow: inset 0 0 15px rgba(0,0,0,.5);
      }
    }

    div.addImage {
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      border-radius: 50%;
      color:$brand-primary-color;
      font-size:20px;
      display:none;
      position:absolute;
      top:0;
    }
  }
  div.profileInfo {
    width:65%;
    float:right;

    @media screen and (max-width: $break-small) {
      float:none;
      width:80%;
      margin:0 auto;
    }

    .nav-link {
      color:#000;
      &.active {
        font-weight:bold;
      }
    }
    .showElm {
      display:none;

      &.active {
        display:table;
      }
    }
  }
}

//Dashboard

div.topStats{
  width:100%;
  height:125px;
  margin-bottom:15px;

  div.stat {
    width:24%;
    height:125px;
    box-shadow:1px 2px 3px rgba(0, 0, 0, 0.35);
    margin-right:1%;
    float:left;
    &:last-child {
      margin-right:0;
    }
    &.maroon {
      background:#8C1D40;
      color:$brand-primary-color;
    }
    &.blue {
      background:#00A3E0;
      color:$brand-primary-color;
    }
    &.green {
      background:#78BE20;
      color:$brand-primary-color;
    }
    &.orange {
      background:#FF7F32;
      color:$brand-primary-color;
    }

    .icon {
      height:100%;
      width:30%;
      text-align:center;
      font-size:60px;
      float:left;

      i {
        line-height:125px !important;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
      }
    }
    .content {
      width:65%;
      float:right;
      font-size:22px;

      .title {
        float:left;
        display:block;
        margin-top:15px;
        text-shadow:0 0 10px rgba(0,0,0,.5);
      }
      .number {
        clear:both;
        float:left;
        display:block;
        margin-top:0;
        text-shadow:0 0 10px rgba(0,0,0,.5);
      }
    }
  }
}

//User Projects


//ORDER STYLES
div#closeHead {
  float: right;
  height: 30px;
  width: 30px;
  font-size: 23px;
  font-weight: 900;
  line-height: 30px;
  cursor:pointer;
}
div.order{
  padding:15px;
  background:#fff;
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.40);
  float:left;
  margin-right:25px;
  margin-bottom:25px;

  &.belongs {
    background:#292b3e;
    color:$brand-primary-color;
  }
  .title {
    font-size:22px;
    font-weight:bold;
    padding:0;
    margin:0;
    margin-bottom:10px;
  }
  span.option {
    float:left;
    margin-right:5px;
    background:$brand-gold;
    text-transform: uppercase;
    padding:3px;
    font-weight:900;
    font-size:12px;
    color:#000;
  }
  hr {
    clear:both;
  }

  .project {
    padding:8px;
    float:left;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.40);
    margin-right:8px;
    margin-bottom:8px;
    background:#fff;
    color:#000;
    transition:.5s all;

    &:hover {
      background:$brand-primary;
      color:$brand-primary-color;
    }

    .projectTitle {
      font-size:15px;
      font-weight:bold;
      padding:0;
      margin:0;
      margin-bottom:5px;
    }
    .statusText {
      font-size:14px;
      padding:0;
      margin:0;
    }
  }
}




//Project Styles
.messageHolder {
  position:relative;
}
div#messages {
  height:100%;
  position:fixed;
  width:0;
  right:0;
  top:0;
  background:#fff;
  box-shadow:0 0 25px rgba(0,0,0,.4);
  z-index:9999;
  overflow-y: scroll;

  .message_controls {
    position: sticky;
    top: 25px;
    background: #fff;
  }

  .messageOverallContainer {
    padding:25px;
    display:none;
  }

  div.closeMessage {
    padding: 10px;
    float:right;
    font-size:20px;
    text-align:center;
    background:#000;
    color:$brand-primary-color;
    cursor:pointer;
  }

  #message_loader {
    border: 11px solid #f4f4f4;
    border-top: 11px solid $brand-primary;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin:0 auto;
    display:none;
  }
  .messageThread {
    background: #f4f4f4;
    box-shadow: 1px 2px 2px rgba(0,0,0,.15);
    padding: 17px 10px;
    margin-bottom: 15px;
    border-radius: 9px;
    cursor: pointer;
    font-weight: bold;
    color: rgba(0,0,0,.6);
  }
  .messageContentContainer {
    .userInfo {
      font-size:12px;
      text-align:left;
      clear:both;
    }

    .indivMessage {
      background: #f4f4f4;
      border-radius: 5px;
      padding: 10px;
      width: 80%;
      float: left;
      margin-bottom:10px;
    }

    &.belongs {
      .indivMessage {
        float:right;
        background: #00A3E0;
        color:$brand-primary-color;
      }
      .userInfo {
       text-align:right;
      }
    }
  }
}

#createThreadMessage, #messageBackButton {
  display:none;
}


.card.topSpacing {
  margin-top:25px;
}

ul.userList {
  margin-top:10px;
  padding: 0;
  li {
    height:40px;
    line-height:40px;
    list-style:none;
    margin-bottom:6px;
  }
  .navPic {
    margin-right:8px;
  }
}

.card-body.hidden {
  display:none;
}

.card-header div.show {
  font-size:15px;
  display:inline-block;
  font-weight:bold;
  margin-left:15px;
  cursor:pointer;
}

div.entryNav {
  display: inline-block;
  padding: 10px 15px;
  margin:10px;
  line-height:40px;
  cursor:pointer;

  &.wide {
    display:block;
    padding: 5px;
  }

  &.active {
    background: #8C1D40;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
    color:$brand-primary-color;
    font-weight: bold;
  }
  &.approval {
    background: #78BE20;
  }
  &.admin {
    border:4px solid $brand-gold;
  }
  .navPic {
    margin-right:5px;
  }
}

div.pageComment {
  margin-bottom:10px;
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
  background: #f4f4f4;
  padding: 2px;
  width: 100%;
  cursor:pointer;
  transition:.5s all;

  &:hover {
    background:$brand-primary;
    color:$brand-primary-color;
  }
}

#mask {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.5);
  z-index:9999;
  display:none;
}

div.commentContainer {
  display:none;

  &.active {
    display:block;
  }
}

div.comment {
  position: absolute;
  left: -143px;
  top: 100px;
  background: $brand-primary;
  color: $brand-primary-color;
  padding: 10px;
  font-weight: bold;
  transform: rotate(270deg);
  transform-origin: 70% 0;
  transition:.5s all;
  cursor:pointer;
  z-index: 99;
  &:hover {
    background:$brand-primary-hover;
  }
}


.literally {
  position:static !important;
  min-height:200px !important;

  .lc-clear, .lc-zoom-out, .lc-zoom-in, .lc-pick-tool[Title="Eraser"] {
    display:none !important;
  }
}

div.entry {
  margin:0 auto;
  position:relative;
  display:none;

  .convasContainer canvas{
    background:#fff;
  }
  div.counter {
    text-align:center;
    margin-bottom:5px;
    display: block;
  }
  .image {
    position:relative;
    background:#fff;
    padding:10px;
    display:none;

    &.userFile {
      width:650px;
      margin:0 auto;
      background:#f4f4f4;
      padding:25px;
      box-shadow:0 0 15px rgba(0,0,0,.4);

      p.title {
        text-align:center;
        margin-bottom:0;
      }
      p.date {
        text-align:center;
        margin:0;
        padding:0;
      }
    }

    img {
      box-shadow:0 0 25px rgba(0,0,0,.22);
    }

    &.imageAdmin {
      display:none;
    }

    div.textboxHolder {
      background:rgba(0,0,0,.8);
      padding:10px;
      position:absolute;
      width:100%;
      top: 0;
      left: 0;
      z-index:99999;
      display:none;

      .closeText {
        display:block;
        float:right;
        font-size:16px;
        color:$brand-primary-color;
        margin-top:10px;
        cursor:pointer;
      }
    }
    &.active {
      display:block;
    }
  }

  &.submissionEntry .image {
    display:block;
  }
  &.active {
    display:block;
  }
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  padding: 10px 0;
  border-top:1px solid rgba(0,0,0,.15);
  background:$footer-bg;
  z-index:9999;

}
/*
User
 */
ul.navbar-nav {
  @media screen and (max-width: $break-small) {
    margin-top:12px;
    font-size:18px;
  }
}
.status {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 7px;
  &.looked {
    background: #daeed6;
  }
  &.waiting {
    background: #eee0c9;
  }
}
div.navPic {
  float:left;
  height:40px;
  width:40px;
  background:#ccc;
  color:#646464;
  border-radius:50%;
  text-transform: uppercase;
  font-size:15px;
  line-height:40px;
  text-align:center;
  font-weight:bold;
  @media screen and (max-width: $break-small) {
    margin-right:6px;
  }

  &.pic {
    background-size:cover !important;
    box-shadow: inset 0 0 7px rgba(0,0,0,.5);
  }
}
div.pendingProject {
  background:$brand-primary;
  color:$brand-primary-color;
  font-weight:bold;
  clear:both;
  float:left;
  padding:10px;
  cursor:pointer;
  transition:.5s all;
  &:hover {
    background:$brand-primary-hover;
  }
}

//User Projects
div.userProjects {
  a.projectLink {
    color:#000;

    .project {
      padding:15px;
      float:left;
      background:#fff;
      margin:25px;
      box-shadow:0 2px 2px rgba(0, 0, 0, 0.40);
      transition:.5s all;

      &:hover {
        background:$brand-primary;
        color:$brand-primary-color;
      }

      &.active {
        border:5px solid $brand-gold;

      }

      .name {
        display:block;
        font-weight:bold;
        font-size:20px;
      }
      .lastAction {
        display:block;
      }
    }
  }
}

div#customerFiles {
  background:#fff;
  padding:15px;
  box-shadow:0 0 15px rgba(0,0,0,.4);
  width:550px;
  position:fixed;
  z-index:9999;
  left:calc(50% - 250px);
  display:none;

  @media screen and (max-width: $break-small) {
    width:90%;
    left:calc(50% - 45%);
  }


  form {

  }

  #closeFiles {
    float:right;
    font-size:20px;
    cursor:pointer;

  }
}

img#logo {
  height:45px;
  margin-right:15px;
}
div.notification {
  font-size: 25px;
  margin-right: 20px;
  cursor:pointer;

  #notification_number {
    position: absolute;
    height: 22px;
    width: 22px;
    background: $brand-primary;
    color:$brand-primary-color;
    top: 0;
    left: -7px;
    border-radius: 50%;
    font-size: 10px;
    font-weight:bold;
    text-align: center;
    line-height:22px;
    display:block;
  }
}
#notification_info {

  .title {
    text-align: center;
    margin: 0;
  }
}
a.pendingLink {
  color:#333;
  font-weight:bold;
  transition:.5s all;
}