//Bootstrap Overrides
.container {
  @media screen and (max-width: $neededBreak) {
    width:90% !important;
    max-width:90% !important;
    margin:0 auto;
  }
}
.card {
  @media screen and (max-width: $neededBreak) {
    margin-bottom:20px;
  }
  &.userShow {
    .card-header {
      color:$brand-primary-color;
      font-weight: 900;
      font-size: 17px;
    }
    .card-body {
      padding:.7rem;
    }
  }
  .userShowCard {
    text-decoration:none;
    color:#000;
    .card {
      padding: .5rem;
      border-left: 7px solid;
      border-right-color: rgba(0,0,0,.125) !important;
      border-top-color: rgba(0,0,0,.125) !important;
      border-bottom-color: rgba(0,0,0,.125) !important;
      transition:.2s all ease-in-out;

      &:hover {
        border-left: 11px solid;
      }

      h5.card-title {
        font-weight:bold;
      }
    }
  }
}

.bg-brand {
  background-color:$brand-primary !important;
}

.col-md-4, .col-md-8 {
  @media screen and (max-width: $neededBreak) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
.navbar-brand {
    float:left;
    font-weight:bold;
      @media screen and (max-width: $break-small) {
          font-weight:900;
      }
}
#navbarDropdown {
    color:#000;
    float:left;
.name {
    margin-left:15px;
    color:#000;
}
.caret {
    color:#000;
}
}

//Buttons
  .btn.left {
      float:left;
  }
.btn.right {
    float:right;
}
.btn-main {
    background:$btn-main-color;
    color:$brand-primary-color;
    outline:none;

&:hover {
     background:$btn-main-color-hover;
     color:$brand-primary-color;
 }
}

.btn-brand-primary {
    background:$brand-primary;
    color:$brand-primary-color;
    outline:none;

&:hover {
     background:$brand-primary-hover;
     color:$brand-primary-color;
 }
}

.btn-second {
    background:$btn-secondary-color;
    color:$brand-primary-color;
    outline:none;

&:hover {
     background:$btn-secondary-color-hover;
     color:$brand-primary-color;
 }
}

.btn-submission {
    background:$btn-submission-color;
    color:$brand-primary-color;
    outline:none;

&:hover {
     background:$btn-submission-color-hover;
     color:$brand-primary-color;
 }
}

//Other
p.title {
  font-weight:bold;
  font-size:18px;
}
a.otherProdLink {
    font-size:16px;
    color:#000;
}
h2.titleHeading {
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}
div.container {
&.topSpacing {
     margin-top:50px;
 }
}
body {
    background:$body-bg;
    font-family:$font-family-sans-serif;
}