
// BG's
$body-bg: #f8f9fd;
$sidebar-bg:#ffffff;


// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//table cells
$table-even:#ffffff;
$table-odd:#fbfbfb;

//Links

$nav-link-color: #b1b2b6;
$nav-link-color-hover: darken(#c3c4c8, 20%);

//Button Colors

$brand-primary: #8C1D40;
$brand-primary-hover: #cd224f;
$btn-main-color: #5C6670;
$btn-main-color-hover: lighten($btn-main-color, 10%);

$btn-secondary-color: #292b3e;
$btn-secondary-color-hover: lighten($btn-secondary-color, 10%);

$btn-submission-color:#78BE20;
$btn-submission-color-hover: lighten($btn-submission-color, 10%);


$brand-primary-color: #ffffff;