@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900");
@import '~bootstrap/scss/bootstrap';

@import "variables";

@import "~font-awesome/scss/font-awesome.scss";

div#loader {
  background:rgba(0,0,0,.8);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:99999;

  .loader {
    border: 22px solid #fff;
    border-top: 22px solid $brand-primary;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
    position:relative;
    margin:0 auto;
    top:calc(50% - 75px);
    display:block;
  }
}

body {
  background:#333;
  font-family:'Lato', sans-serif;
}
div#customerFiles {
  background:#fff;
  padding:15px;
  box-shadow:0 0 15px rgba(0,0,0,.4);
  width:550px;
  position:fixed;
  z-index:9999;
  left:calc(50% - 250px);
  display:none;
  margin-top: 50px;

  @media screen and (max-width: $break-small) {
    width:90%;
    left:calc(50% - 45%);
  }


  form {

  }

  #closeFiles {
    float:right;
    font-size:20px;
    cursor:pointer;

  }
}

#sidebar {
  width:20%;
  position:fixed;
  right:0;
  top:0;
  height:100%;
  background: #1e1e1e;
  .sidebarHeadings {
    color: $brand-primary-color;
    padding:12px;

    h2 {
      text-align:center;
    }

    hr {
      border-color:rgba(255,255,255,.1);
    }
  }
  .sidebarContent {
    padding:0 15px;
    color: $brand-primary-color;
    .entry {
      padding:10px;
      display:block;
      background:rgba(255,255,255,.3);
      box-shadow: 1px 2px 2px rgba(0,0,0,.9);
      border-radius:5px;
      cursor:pointer;
      margin-bottom:12px;
      height:100px;
      line-height:40px;
      &.isActive {
        background:rgba(255,255,255,.55);
      }
      &.isAdmin {
        border:2px solid $brand-gold;
      }
      span.dateTime {
        display: block;
        line-height: 25px;
        text-indent: 45px;
        font-weight: 900;
        text-shadow: 0 0 5px rgba(0,0,0,.4);
        font-size: 14px;
      }
      .userEntry {
        float:left;
        margin-right:5px;
        height:40px;
        width:40px;
        border-radius:50%;
        background:#ccc;
        box-shadow:0 2px 2px rgba(0,0,0,.35);
        color:#333;
        font-weight:bold;
        line-height:40px;
        text-align:center;
        background-size:cover !important;
      }
    }
  }
}

#proof {
  width:78%;
  position:fixed;
  height: calc(100% - 110px);
  left: 0;
  bottom: 30px;
}

div.proof-entry {
  display:none;
  &.isActive {
    display:block;
  }
  .fileUpload {
    background: #f4f4f4;
    width: 80%;
    padding: 40px;
    margin: 0 auto;
    text-align: center;

    h5.title {
      font-weight: 900;
      font-size: 23px;
    }
  }
  .elem {
    display:none;
    &:first-child {
      display:block;
    }
    div.imageElm {
      margin: 0 auto;
      display:block;
      position:relative;
      background:#fff;

      div.commentEntry{
        position:absolute;
        z-index:9999;
        transition:.5s all;

        &:hover {
          background:rgba(0,0,0,.22);
        }

        div.commentInfo {
          position:absolute;
          z-index:9999;
          width:250px;
          background:#f4f4f4;
          display:none;
          top: calc(50%);
          padding:10px;
          box-shadow:0 2px 2px rgba(0,0,0,.8);
          border-radius:3px;
        }

        &:hover div.commentInfo {
          display:block;
        }
      }
    }
  }

  div.image {
    margin:0 auto;
    background:#fff;
    box-shadow:0 0 10px rgba(0,0,0,.9);
  }
}

div#projectNavigation {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  background: rgba(0,0,0,.5);

  ul {
    margin: 0;
    margin-left:35px;
    float:left;
    li {
      display:inline-block;
      margin-right:15px;
      color:#f4f4f4;
      cursor:pointer;
      font-size: 20px;
      line-height: 50px;
      height:50px;
      width:50px;
      text-align:center;
    }
    #colorPick {
      background:#000;
    }
    #approve {
      color:$btn-submission-color-hover;
    }
  }
  ul.navContainerRight {
    float:right;
  }
}

div#pagesLeft {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0,0,0,.8);
  height: 100%;
  width: 0px;
  color:#f4f4f4;

  .pagesLeftContent {
    display:none;
  }

  div.closeElm {
    float: right;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,.20);
    margin-top: 7px;
    text-align: center;
    line-height: 40px;
    color: #f4f4f4;
    font-size: 20px;
    cursor:pointer;
  }

  h3 {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,.25);
  }

  img.thumbnailImage {
    width:80%;
    margin:18px auto;
    background:#fff;
    display:block;
    cursor:pointer;
  }
  img.isActive {
    border:3px solid #FFC627;
  }
  .navigation-entry {
    display:none;
    &.isActive {
      display:block;
    }
  }
}

//Color
.vc-photoshop {
  position: absolute;
  z-index: 999;
  display: none;
  top: 50px;
}
.vc-ps-ac-btn:nth-child(2) {
  display: none;
}


//Modal
div#mask {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:9999;
  background:rgba(0,0,0,.5);

}
div.modal {
  display:block;
}

//Tooltip

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}